@import "tailwindcss";

:root {
  --midnight-black: #101720;
  --night: #070a0e;
  --rich_black: #0e141b;
  --anti-flash-white: #f2f3f4;
  --light-coral: #f58987;
  --earth-yellow: #dbad6c;
  --grey-400: #333333;
  --grey-300: #808080;
  --confirm: #00875f;
  --danger: #e25858;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: var(--midnight-black);
  --color-white: var(--anti-flash-white);
  --color-light-coral: var(--light-coral);
  --color-earth-yellow: var(--earth-yellow);
  --color-grey-400: var(--grey-400);
  --color-grey-300: var(--grey-300);
  --color-confirm: var(--confirm);
  --color-danger: var(--danger);

  --font-sans: "Inter", ui-sans-serif, system-ui;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --container-md: 40rem;
}

@layer utilities {
  .max-w-md {
    max-width: var(--container-md);
  }
}

body {
  background-color: var(--midnight-black);
  color: var(--anti-flash-white);
  font-family: var(--font-sans);
}
